
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=ZIP-File-icon_48
Name[en_US]=fruitpeeler
Exec=fruitpeeler
Name=fruitpeeler
Icon=/usr/share/pixmaps/ZIP-File-icon_48.png
